<div class="modal fade wow_mat_pops pp_mat_modals" id="pay_modal_wallet" role="dialog" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{LANG pay_from_wallet}}</h4>
			</div>
			<div class="modal-body">
				<div class="pay_modal_wallet_alert"></div>
				<div class="pay_modal_wallet_text"></div>
			</div>
			<div class="modal-footer wallet_modal_btn">
				<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">{{LANG cancel}}</button>
				<button type="button" class="btn btn-info pp_flat_btn" id="pay_modal_wallet_btn">{{LANG pay}}</button>
			</div>
		</div>
	</div>
</div>